html{
	overflow-x: hidden;
}

body {
	background-color: #ffffff ; /* #95a5a6 */
	display: flex;
    min-height: 100vh;
    flex-direction: column;
	overflow-x: hidden;
}

main {
    flex: 1 0 auto;
  }


nav {
	margin-top: -110px;
}

@media only screen and (min-width: 601px){
	nav {
		margin-top: -112px;
	}
}

@media only screen and (min-width: 993px) {
	nav {
		margin-top: -112px; /*-116*/
	}
}

header{
	z-index: 1;
}

.header-image {
	width: 100%;
	height: auto;
}

.tab-content{
	min-height: auto;
}


.preloader-background {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;	
	margin-top: 200px;
	margin-bottom: 200px;
}

.tab1-hider {
	visibility: hidden;
	opacity: 0;
	display: none;
}

.tab2-hider {
	visibility: hidden;
	opacity: 0;
	display: none;
}

.tab3-hider {
	visibility: hidden;
	opacity: 0;
	display: none;
}

.tab4-hider {
	visibility: hidden;
	opacity: 0;
	display: none;
}

.tab-display{
	display: block;
}

.tab-shower {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s, visibility 1s;
}

@media only screen 
and (min-width: 993px) 
and (max-height: 800px) { 
	.tab-link {
	  transform: translateX(35%);
	  -webkit-transform: translateX(35%);
	}
}

@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1366px)
and (orientation : portrait) { 
	/* IPAD PRO PORTRAIT */
	.tab-link {
	  transform: translateX(30%);
	  -webkit-transform: translateX(30%);
	}
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

.lanz-bluebg{
	background-color: #34495e !important;
	color: #000 !important;
}

.lanz-transparent{
	background-color:transparent;
	color: #000 !important;
}

.lanz-why{
	background-color: #cbcbcb !important;
}

.lanz-gray{
  background-color: #95a5a6 !important;
}

.lanz-team{
  background-color: #34495e !important;
  color: #f8f8f8 !important;
}

.lanz-showcase{
  background-color: #16a085 !important;
}

.lanz-footer {
	background-color: #282828 !important;
}

.lanz-copyright {
	background-color: #161616 !important;
}



#sticky {	

}	

#sticky.stick {
  background-color: #222e3b !important; /**/
  transition: background-color .5s ease 0s;
  width: 100%;
  margin-top: 0 !important;
  position: fixed;
  top: 0;
  z-index: 10000;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

#sticky.inv{
  background-color: transparent !important; /**/
  transition: background-color .5s ease-out 0s;
}
